# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
npm-debug.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker
.dockerignore
